<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.uminho.pg42819.attendance"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:name="pt.uminho.pg42819.attendance.AttendanceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AttendanceApp">

        <activity
            android:name="pt.uminho.pg42819.attendance.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>